.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: var(--textgrey);
    margin: 0;
}

.footer a{
    text-decoration: none;
    color: var(--textgrey);
}

.footer a:hover{
    text-decoration: underline;
}

.footerLinks > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footerLinks > ul > li {
    padding: 5px 20px 0 10px;
}

.footer div {
    margin: 5px;
}

/* Mobile */
@media (max-width: 700px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        overflow: auto;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: var(--textgrey);
    }
    .footerLinks > ul > li {
        padding: 10px 0 0 0;
        margin: 0 10px 0 10px;
    }
}
/* Tablet and Smaller Desktop */
@media (min-width: 820px) and (max-width: 1180px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: auto;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: var(--textgrey);
    }
    .footerLinks > ul > li {
        padding: 10px 0 0 0;
        margin: 0 10px 0 10px;
    }
}